body {
    margin : 0px;
    transition: all 1s ease-in-out 0s;
}

#fixed_on_top {
    position: fixed;
    width : 100vw;
    /*border-bottom: black solid 2px; for debug*/
    top : 0px;
    background-color: white;
    padding : 0px 0px 7px 0px;
    z-index: 2;
}
#fixed_on_top h1 {
    text-align: center;
}
#NAME {
    color: black;
    text-decoration: none;
    text-align: center;
    letter-spacing: 18px;
    font-size: 45px;
    margin: 30px 0px 30px 0px; /*top left bottom right*/
    transition: all 1s ease-in-out .2s; /* property name | duration | timing function | delay */
}

#NavigationBar {
    justify-content: center;
    display: flex;
}

#NavigationBar ul{
    width: 980px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    list-style: none;
    margin: 0px 0px;
}
.NavigationBarMenus {
    padding: 5px 15px 5px 15px; /*clock-wise*/
    display: block;
    
}
.NavigationBarMenus a{ /*Campaign Andew Style LiFE ...*/
    color: black;
    text-decoration: none;
    display: block;
}

.PopupMenus {
    min-width: 160px;
    position: absolute;
    display: none;
    animation: fadein .5s ease-in-out 0s;
    margin-top: 5px;
    
    background-color: black;
    box-shadow: -8px 0px 10px 10px gray;
}
@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
.PopupMenus a {
    display: block;
    margin-left: -15px;
    padding: 5px 15px 10px 15px;
    color : gray;
    background-color: white;
    
}

.NavigationBarMenus:hover .PopupMenus {
    display: block;
}

.PopupMenus a:hover {
    color : black;
}

#wrapper {
    max-width : 60vw;
    min-width: 980px;
    display : table;
    margin-left: auto;
    margin-right: auto;
}

#section1 img {
    width : 100%;
}
#section1 {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

#section2 {
    display : grid;
    grid-template-columns: 4fr 2fr;
    margin: 5px 0px;
}

#section2 .items {
    padding : 10px 20px 10px 20px;
}

#section2 .items:nth-child(odd){ /*youtube,insta*/
    padding-left: 0px;
}

#section2 .items:nth-child(even){ /*NnE, fb*/
    padding-right: 0px;
}

.description {
    font-size : 12px;
    font-weight: 600;
    display: block;
    padding-bottom: 5px;
}

.NnE-img {
    max-width: 100%;
}

#Menu {
    display: none;
    position: absolute;
    top : 22px;
    padding-right: 5px;
    padding-top : 2px;
}




@media (max-width : 980px) { /* for PC (small-size)*/
    #NavigationBar{
        display: none;
    }
    #NAME {
        letter-spacing: 6px;
        font-size: 30px;
        margin: 20px 0px 20px 0px; /*top left bottom right*/
    }
    #Menu {
        display: block;
    }
}

@media (max-width : 768px) , (orientation : portrait) { /*for Phone 768*/ 
    #section1 img {
        width: 100%;
    }
    #section2 {
        display : grid;
        grid-template-columns: 1fr;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    #section2 .items{
        padding : 0px;
    }
    #wrapper {
        max-width: 100vw;
        min-width: 0px;
    }
    .NnE-img {
        max-width: initial;
    }
}

