body {
    margin : 0px;
}

#fixed_on_top {
    position: fixed;
    width : 100vw;
    border-bottom: black solid 2px; /*for debug*/
    top : 0px;
    background-color: white;
}
#fixed_on_top h1 {
    text-align: center;
}
#NAME {
    color: black;
    text-decoration: none;
    text-align: center;
    letter-spacing: 18px;
    font-size: 45px;
    margin: 30px 0px 30px 0px; /*top left bottom right*/
}

#NAVIGATION_BAR {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 2fr;
    grid-template-rows: auto;
}
#NAVIGATION_BAR * {
    color: black;
    text-decoration: none;
    text-align: center;
    display: block;
}

#wrapper {
    width : 60vw;
    display : table;
    margin-left: auto;
    margin-right: auto;
}

#section1 img {
    width : 60vw;
}
#section1 {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

#section2 {
    display : grid;
    grid-template-columns: 5fr 2fr;
    margin: 5px 10px;
}

#section2 .items{
    padding : 10px 20px 10px 10px;
}

